@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

*{scroll-behavior: smooth;}

body {
  font-family: "Open Sans", sans-serif;
}

.page {
  text-align: center;
}

.header-logo {
  width: 250px;
  width: 250px;
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.photo {
  border-radius: 50%;
}

.postItemList {
  margin: 0 35px;
}

table thead tr th {
  border-bottom: 1px solid grey;
}
table thead tr th, table tbody tr td {
  padding: 5px 10px;
}

.token-line:not(:last-child) {
  min-height: 1rem;
}